
.map-quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.navigation-buttons {
    position: relative; /* Add this line */
    z-index: 0; /* Add this line */
}

.maps{
    display: flex;
    justify-content: center;
    align-items: center;

}