.button.selected {
    background-color: green;
    color: white;
}

.hint-box {
    border: 1px solid #000;
    position: relative;
    padding: 20px;
    margin-top: 20px;
}
.hint-box::before {
    content: "Hint";
    position: absolute;
    top: -10px;
    left: 10px;
    background: #fff;
    padding: 0 5px;
}

.tool-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tool-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #d0d0d0; /* Darker grey border */
    border-radius: 5px;
    margin-bottom: 20px;
}

.tool-box button {
    padding: 10px 20px;
    border: none;
    background-color: #3f51b5; /* Indigo background */
    color: white; /* White text */
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.tool-box button:hover {
    background-color: white; /* White background on hover */
    color: #3f51b5; /* Indigo text on hover */
    border: 2px solid #3f51b5; /* Indigo border on hover */
}

