@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.toolbar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px; /* Increase padding */
  border-radius: 10px; /* Increase border radius */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadow */
}

.toolbar select {
  margin-right: 10px;
  padding: 5px; /* Add padding */
}

.toolbar button {
  margin-right: 10px;
  padding: 10px; /* Increase padding */
  background-color: #FFD700;
  color: black; /* Change text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Change cursor on hover */
}

.toolbar button:hover {
  background-color: #B8860B; /* Change background color on hover */
}

.content-window {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px; /* Increase border radius */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadow */

}
.test-container {
  display: flex;
  flex-direction: row; /* Add this line */
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items to the start of the container */
  gap: 20px; /* Add some gap between the items */
}
/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.flashcards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.card {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  perspective: 1000px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  background-color: #fff;
}

.card .front, .card .back {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  transition: transform 0.8s;
  border-radius: 15px;
}

.card .front {
  background-color: #FFEA00; /* Light Golden Yellow */
  cursor: pointer;
  transform: rotateY(0deg);
}

.card .back {
  background-color: #B8860B; /* Dark Goldenrod */
  transform: rotateY(180deg);
}

.card.flipped .front {
  transform: rotateY(180deg);
}

.card.flipped .back {
  transform: rotateY(0deg);
}

.card-navigation {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  transition: background-color 0.5s ease;
  background-color: #3f51b5; /* Golden Yellow */ 

  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: whitesmoke;  /* Dark Goldenrod */
  color: #3f51b5;
}

.answer-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

.answer-input input {
  flex-grow: 1;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.answer-input button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color:#3f51b5; /* Indigo text on hover */

  color: #555;
  cursor: pointer;
  transition: background-color 0.5s ease;
  width: 100%;
  font-weight: bold;
}

.answer-input button:hover {
  background-color: #B8860B;  /* Dark Goldenrod */
  color: thistle;
}
